# Ignorar o ambiente virtual
.venv/
venv/

# Ignorar arquivos temporários do Python e do Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignorar pastas de dados grandes e arquivos de log
# É uma prática comum NÃO versionar dados brutos (raw data) nem resultados de saída grandes
#data/inputs/
data/outputs/
*.log

# Ignorar modelos treinados (opcional, dependendo do seu fluxo de trabalho)
# Se você versiona modelos em um sistema de controle de versão de modelos (como DVC, MLflow),
# você pode querer ignorá-los no Git.
models/

# Ignorar arquivos específicos do sistema operacional/editor (Windows, macOS, VS Code)
.DS_Store
Thumbs.db
.vscode/